*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy Light";
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
   
    width: 100%;
    height: 100%;
    background-color: #181818;
}
.nav{
    z-index: 4;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 70px;
    background-color: black;
}
.nav-img img{
    padding:0px 20px ;
    width: 170px;
    height: 50px;
}
.sign-section{
    
    display: flex;
    align-items: center;
    padding:0 20px;
    gap: 10px;
}
#button-nav-1 {
    
    cursor: pointer;
    width: 120px;
    height: 35px;
    text-align: center;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    
}
#button-nav-1 a{
    color: white;
    font-size: 15px;
 

   
}
.sign-section p{
    color: white;
    font-size: 15px;

}


#button-nav-2{
    cursor: pointer;
    width: 100px;
    height: 35px;
    text-align: center;
    border: none;
    
    color: #fff;
    background-color: transparent;
    border: 0.1px solid white;
}
#button-nav-2 a{
    color: white;
    font-size: 15px;
 
}
h1{
    z-index: 1;
    padding-left: 50px;
   
    padding-top: 100px;
    font-size: 50px;
    color: #fff;
    font-family: "Gilroy ExtraBold";
}
.text-p{
    z-index: 1;
    padding-left: 50px;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    line-height: 22px;


}
.series-p{
    z-index: 1;
    margin-bottom: 20px;
    padding-left: 50px;
    color: white;
    padding-top: 20px;
    font-family: "Gilroy ExtraBold";
}
.container{
    width: 95%;
   margin-left: 48px;
    height: 200px;
    overflow-x:auto ;
    overflow-y: hidden;
   

}
.us-image{
    z-index: 5;
 
    margin-bottom: 30px;
 
  
    width: 95%;
    

 
  

   
    display: flex;
    gap: 10px;
}
 

#img1{
    z-index: 1;


}
.us-a{
    position: relative;
  


   

  
    z-index: 2;


}
.us-p {
font-size: 18px;
position: absolute;

width: 100%;
height: 200px;
text-align: center;
color: #fff;

left: 50%;
bottom: -45%;
z-index: 5;


transform: translate(-50%,60%);

   }

  .container::-webkit-scrollbar{
    height: 0;
   }
   
   .blur{
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
    filter: blur(6px);
   }
   #blur{
    overflow-x: hidden;
    overflow-y: hidden;
    
    }
    .about{
        display: flex;
       justify-content: center;
       
       
       text-align: center;
       
       
       
        width: 100%;
        color: #fff;
        height: 400px;
       
       

    }
    .text-section{
        max-width: 800px;
        margin-top: 30px;
       
      
    }
    .about h2{
        font-size: 40px;
        line-height: 80px;
    }
    .about h3{
        font-size: 23px;
        line-height: 26px;
        letter-spacing: 2px;
        margin-bottom:20px;
        
    }
    .about button{
        width: 180px;
        height: 50px;
        border-radius: 2px;
        color: #fff;
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        border: none;

    }
    .contact{
        width: 100%;
        height: 400px;

    }
    .contact p{
        padding-left: 40px;
        color: #aeaeaea8;
        margin-bottom: 60px;
    }
    .col-section{
        margin-left: 40px;
      
        display: flex;
        gap: 130px;
        

    }
    .col-1{
        font-size: 13px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 30px;
       
    }
    .col-1 a{
        color: #aeaeaea8;
    }
    .home{
        width: 100vw;
        height: 90vh;
        background-image: url("Imageye - Watch Rana Naidu _ Netflix Official Site/home.jpg");
       
        background-position:left ;
    
        
        background-size: cover;
        position: relative;

     
     
  

    }
    .img-rana{
      
        position: absolute;
        left: 5%;
        top: 20%;
      
  
    

    }
    .blur-rana{
        max-width: 500px;
        height: 90vh;
      
      
        
    
    }
    .hero{
      position: absolute;
      top: 50%;
      left: 7%;
      color: #fff;
      transform: translate(-5%,-50%);

    }
    .home h2{
        font-size: 30px;
       padding-bottom: 20px;
    }
    #date{
        color: #dadada;
        padding-bottom: 20px;
        
 
    }
    #des{
        max-width: 500px;
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 20px;
        letter-spacing: .5px;


    }
    p span{
        color: #757575;
        letter-spacing: .5px;
    }
     .line1{
        margin-bottom: 12px;
      width: 90%;

        height: 1px;
      
        background-color: rgb(113, 114, 114);
     }
     .line2{
        margin-top: 12px;
        width: 90%;
  
          height: 1px;
        
          background-color:rgb(113, 114, 114);

     }
     .date-sec{
        
        background-color: #181818;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
     }
     .lang{
        color: white;
        font-size: 25px;
        margin-bottom: 10px;
     }
     .lang2{
        color: rgb(113, 114, 114);
        font-size: 20px;
     }
     .video-section{
        margin-left: 55px;
       

        margin-top: 200px;
        width: 90%;
       height: 500px;
       
     }
     .video-section h2{
        padding-top: 20px;
      
        font-size: 30px;
        color: #fff;
     }
     .video-section h2 span{
        font-size: 25px;
        color: rgb(113, 114, 114);
     }
     .video{
        
        margin-top: 30px;
        overflow-y: hidden;
        overflow-x: auto;
       
        height: 400px;
        gap: 20px;
        
       
        display: flex;

      
        
     }
     .video img{
        width: 600px;
        height: 350px;
        
       
       
     }
     .video::-webkit-scrollbar{
        width: 0;
     }
     #rana{
        position: relative;
     }
     .video p{
        font-size: 18px;
        font-weight: 600;
       color: white;
       position: absolute;
       top: 95%;
       
       
      
       
     }
     .episodes-section{
        margin-top: 70px;
        margin-left: 55px;
        width:90%;
        height: 100%;
       
       
     }
     .episodes-section h2{
        margin-bottom: 10px;
        
        color: white;
     }
     .episodes-section h2 span{
        color:rgb(113, 114, 114); 
     }
     #white{
        color: white;
        font-weight: 600;
        opacity: 1;
     }
     .episodes-section p{
        color:#fff ;
        opacity: .7;
        margin-bottom: 10px;
        font-size: 16px;
        

     }
     .gap{
        padding-bottom: 80px;
     }
     .episodes-img{
        display: flex;
        gap :10px;
        align-items: center;
        flex-wrap: wrap;


     }
     .episodes-img img{
        
        width: 330px;
        flex-wrap: nowrap;
     }
     .duration{
        display: flex;
        justify-content: space-between;
     }
     .img{
        width: 332px;
     }
     .img h3{
        color: #fff;

     }
    
 .img .small{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.margin{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.more-details{
    margin-left: 55px;
display: flex;
flex-direction: column;

    width: 90%;
    height: 300px;
    margin-top: 70px;

}
.row-1{
    display: flex;
    gap: 80px;
    
   
}
.row-2{
    gap: 80px;
    display: flex;
    margin-top: 10px;
  
}
.el-1{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.el-2{
    width: 200px;

}
.more-details h2{
    color: #fff;
    font-size: 30px;
    padding-bottom: 20px;
}
.more-details p{
   color: #b7b6b6d0;
   
    
    font-weight: 600;
}
.more-details h3{
    line-height: 20px;
    color:#fff ;
    font-weight: 400;
    font-size: 17px;

}
.p{
   padding-bottom: 5px;
}

.more-like-this h2{
    font-size: 30px;
    color: #fff;
    padding-bottom: 12px;
}

.more-like-this  {
   
    width: 90%;
    margin-left: 55px;

}
.img-1{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 10px;
}
.img-1 img{
    width:330px ;
    

}
.coming-soon{
    margin-left: 55px;
    margin-top: 50px;
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
}
.row-1.col-1{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.row-1{
    display: flex;

}
.coming-soon h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 12px;
}
.coming-soon h3{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
.coming-soon p{
    color: #b7b6b6d0;
    font-size: 15px;

}
.home-1{
    position: relative;
    background:url("Imageye\ -\ Netflix\ India\ _\ Watch\ TV\ Shows\ Online_\ Watch\ Movies\ Online/home.jpg");
    width: 100vw;
    height: 90vh;
   
  
    
   
}
.img1{
    width: 100vw;
    height: 90vh;
    background: rgba(0, 0, 0, 0.7);
}
.center{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.center h2{
    color: #fff;
    font-size: 50px;
    font-family: "Gilroy ExtraBold";
    padding-bottom: 10px;
}
.center h3{
    color:#fff ;
    font-size: 27px;
    padding-bottom: 15px;
}
.center h4{
    color: #fff;
    font-size: 21px;
    font-weight: 450;
    padding-bottom: 15px;

}
#nav-img-class{
  
  
}
#nav-img-class img{
    width: 250px;
    height: 100px;
}
#nav-id{
    position: absolute;
    top: 2%;
    
  background: transparent;
    display: flex;
    justify-content: space-between;
}
#button-nav{
    margin-right: 40px;
    
    width: 150px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}
#button-nav a{
    color: white;
    font-size: 15px;
}

.input{
    display: flex;
    gap: 10px;
}
.input input{
    width: 400px;
    height: 60px;
    background-color: rgba(18, 16, 16, 0.766);
    color: #fff;
    border-radius: 5px;
    border: .1px solid #fff;

}
.input ::placeholder{
    padding-left: 20px;
    color: #dadada;
    font-size: 17px;
}
.input button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-align: center;

 
}
.home-2{
    margin-top: 10px;
    width:100% ;
    background: #000;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-2 h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    font-family: "Gilroy ExtraBold";
    margin-bottom: 10px;
}
.home-2 h3{
    
    font-size:25px ;
    color: #fff;
    line-height: 30px;

}
button:hover{

   background-color: indianred;
   
}
.txt-hm-2{
    width: 600px;
   
}
.question{
    margin-top: 10px;
  
    flex-direction: column;
    display: flex;
 align-items: center;
 
 
    width: 100%;
    height: 1000px;
    background-color: #000;

}
.divide{
   
    width: 75%;
   
  
    background-color: #303030;
    margin-bottom: 10px;
   
}
.div1{
    padding: 0px 10px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.div1 i{
    
    font-size: 40px;
    color: #fff;

}
.div1 h4{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}
.question h2{
    padding-top: 60px;
    color: #fff;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: "Gilroy ExtraBold";
}
.question h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}
.footer1{
    position: relative;
    justify-content: start;
    

    background-color: black;
    display: flex;
    gap: 150px;
   
 
width: 100%;
height: 300px;

}
.col1{
  


gap: 20px;
    display: flex;
    flex-direction: column;
    

    
    margin-top: 30px;
}
.col1 a{
    color: #dadada;
    font-size: 16px;


}
.txt-footer1{
    
    padding-top:30px ;
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 80px;
    

  background-color: #000;
    
  

}
.txt-footer1 p{
    text-align: center;
   
    margin-left: 200px;
   

    white-space: nowrap;

   color:  #fff;
   font-size: 18px;

}
#col-12{
    margin-left: 200px;
}
.wrapper1{
  
    width: 100vw;
    height: 100%;
    overflow-x:hidden ;
  
 
   

}
.cont{
    overflow-x: hidden;
    width: 100%;
    height: 140vh;
    position: relative;
    background: url("Imageye\ -\ Netflix\ India\ _\ Watch\ TV\ Shows\ Online_\ Watch\ Movies\ Online/home.jpg");

}

.img2{
   
   
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   
}
.nava{
    position: absolute;
    top: 1%;
    left: 10%;
}
.center2{
    position: absolute;
    top: 30%;
    transform: translate(-50%,-30%);
   
 display: flex;

 
    width: 450px;
    height: 700px;
    left: 50%;
   
    background-color: #080707b5;
    border-radius: 5px;
}
.sign-sec{
    margin-top: 50px;
   align-items: center;
    display: flex;
    flex-direction: column;
   
}
.sign-sec h3{
    color: white;
   
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: -50%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-family: "Gilroy ExtraBold";

}
.sign-sec input{
    opacity: .8;
    width: 350px;
    padding-left: 10px;
 
height: 60px;
margin-bottom: 15px;
background-color: transparent;
border:1px solid white ;
border-radius: 5px;
background-color: #3030302a;




}
.sign-sec input::placeholder{
    font-size: 15px;
    color: white;
}
.sign-sec button{
    margin-top: 05px;
    width: 350px;
    height: 45px;
    background-color: red;
    border: none;
    color: white;
    font-size:20px ;
   
    border-radius: 5px;
}
.sign-sec h4{
    color: white;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 80px;
}
#rem{
    display: flex;
    margin-top: -10px;
    margin-top: -20px;
  
    width: 20px;
    
}
.check i{
    position: absolute;
    font-size: 15px;
   

    position: relative;
    top: 60%;
    right: 13%;
    transform: translate(-30%,-30%);

    color: black;
}
.check{
 
    position: relative;
    height: 20px;
  margin-left: -160px;
    gap:5px;
    display: flex;
    margin-bottom: 15px;
}
.check h5{

    color: white;
    font-size: 17px;
  
}
#bold span{

    margin-left: -115px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: .7;
}
#bold{
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}
.dark{
   
    color: #757474;
    font-size: 12px;
    
   
    margin-left:60px ;
}

.txt-footer12{
   
    background-color: transparent;
    overflow-x: hidden;
}

.foot{
    
    margin-top: 0px;
    width: 100%;
    background-color: #080707b5;
  
   height: 250px;
  bottom: -43%;

    position: absolute;
  

    
}
.txt-footer12{
    width: 300px;

    margin-top: 40px;
    margin-left: 100px;
    color: #fff;
}
.footer12{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  

  gap: 90px;


}
.col12{
    width: 200px;
    gap: 20px;

  display: flex;
  flex-direction: column;
  


}
.col12 a{
    color: white;
}